{% extends 'base.html' %}
{% block title %}Question Pepar{% endblock title %}
{% load static %}

{% block body %}
<h1 class="text-center pt-2">Question Pepers</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Sr.</th>
        <th scope="col">Name</th>
        <th scope="col">Date</th>
        <th scope="col">File</th>
      </tr>
    </thead>
    <tbody>

     {% for i in pdf|slice:"::-1" %}
      <tr style="background:none">
        <th scope="row">{{forloop.counter}}</th>
        <td>{{i.title}}</td>
        <td>{{i.date}}</td>
        <td> <a href="/media/{{i.pdf}}"  ><button type="button" class="btn btn-danger fa fa-eye"> View</button></a>
           <a href="/view-pdf/{{i.id}} "  ><button type="button" class="btn btn-danger fa fa-download"> Download</button></a></td>
      {% endfor %} 
      
    </tbody>
  </table>
{% endblock body %}